<main>
  <section id="section-cadastro">
    <form action="">
      <div class="col-auto">
        <label for="produto">Id</label>
        <input type="text" class="form-control" name="id">
      </div>
      <br>
      <div class="col-auto">
         <label for="produto">Nome do Produto</label>
         <input type="text" class="form-control" name="produto">
      </div>
      <br>
      <div class="col-auto">
        <label for="descricao">Descrição</label>
        <input type="text">
      </div>
    </form>
  </section>
</main>
